<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<title>jQuery UI Progressbar - Default functionality</title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css" />




<script>

    function prog() {

        var text = document.getElementById('spinner').value;
        $("#progressbar").progressbar({
            value: parseInt(text)
        });
    }


   
</script>
</head>
<body>
<form runat="server">
<div id="progressbar"></div>

<asp:TextBox runat="server"  ID="spinner" onkeypress="prog();" />
<script>
    $("#spinner").spinner();
</script>
</form>
</body>
